<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>容器云平台</title>

    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="/assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/xenon-core.css">
    <link rel="stylesheet" href="/assets/css/xenon-forms.css">
    <link rel="stylesheet" href="/assets/css/xenon-components.css">
    <link rel="stylesheet" href="/assets/css/xenon-skins.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/js/layer-v3.1.0/layer/theme/default/layer.css">

    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/js/layer-v3.1.0/layer/layer.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        #logs_modal-body{
            height:500px;
            overflow:scroll;
            overflow-x:hidden;
        }
    </style>

</head>
<body class="page-body" style="overflow-x: hidden">
<div class="settings-pane">
    <a href="#" data-toggle="settings-pane" data-animate="true">
        &times;
    </a>
</div>
<div class="page-container">
    <div class="sidebar-menu toggle-others fixed">

        <div class="sidebar-menu-inner">

            <header class="logo-env">

                <!-- logo -->
                <div class="logo">
                    <a href="/pods/tomcat" class="logo-expanded">
                        <i class="fa fa-cloud" style="color: #fff;font-size: 20px;"></i>
                        <img src="/assets/images/logo1.png" alt="" style="width: 180px;height: 30px;margin-top: -10px"/>
                    </a>

                    <a href="/pods/tomcat" class="logo-collapsed">
                        <i class="fa fa-cloud" style="color: #fff;font-size: 20px;;margin-top:10px"></i>

                    </a>
                </div>

                <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                <div class="mobile-menu-toggle visible-xs">
                    <a href="#" data-toggle="user-info-menu">
                        <i class="fa fa-user"></i>
                    </a>

                    <a href="#" data-toggle="mobile-menu">
                        <i class="fa-bars"></i>
                    </a>
                </div>
            </header>



            <ul id="main-menu" class="main-menu">
                <li class="active">
                    <a href="/pods/tomcat">
                        <i class="linecons-database" style="font-size: 16px"></i>
                        <span class="title" >静态网页及Java Web项目</span>
                    </a>
                </li>
                <li>
                    <a href="/pods/net">
                        <i class="linecons-doc" style="font-size: 16px"></i>
                        <span class="title" >.Net项目</span>
                    </a>
                </li>
                <li>
                    <a href="/pods/python">
                        <i class="linecons-database" style="font-size: 16px"></i>
                        <span class="title" >Python项目</span>
                    </a>
                </li>
                <li>
                    <a href="/pods/php">
                        <i class="linecons-doc" style="font-size: 16px"></i>
                        <span class="title" >PHP项目</span>
                    </a>
                </li>
                <li>
                    <a href="/pods/mysql">
                        <i class="linecons-params" style="font-size: 16px"></i>
                        <span class="title">数据库地址</span>
                    </a>
                </li>
            </ul>

        </div>

    </div>

    <div class="main-content">

        <!-- User Info, Notifications and Menu Bar -->
        <nav class="navbar user-info-navbar" role="navigation">

            <!-- Left links for user info navbar -->
            <ul class="user-info-menu left-links list-inline list-unstyled">
                <li class="hidden-sm hidden-xs">
                    <a href="#" data-toggle="sidebar">
                        <i class="fa-bars"></i>
                    </a>
                </li>
            </ul>
            <!-- Right links for user info navbar -->
            <ul class="user-info-menu right-links list-inline list-unstyled">

                <li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->

                    <form>
                        <input style="display:none" type="text" name="s" class="form-control search-field" placeholder="搜索" />

                        <button type="button" class="btn btn-link">
                            <i class="linecons-user"></i>
                        </button>
                    </form>

                </li>

                <li class="dropdown user-profile">
                    <a style="cursor: pointer" data-toggle="dropdown">
							<span style="display: inherit">
								<span style="color: rgb(141,193,43)" id="self"></span>
								<i class="fa-angle-down"></i>
							</span>
                    </a>

                    <ul class="dropdown-menu user-profile-menu list-unstyled">
                        <li>
                            <a href="/users/info">
                                <i class="fa-user"></i>
                                个人信息
                            </a>
                        </li>
                        <li class="last">
                            <a href="/users/logout">
                                <i class="fa-lock"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </li>



            </ul>

        </nav>

        <script type="text/javascript">
            jQuery(document).ready(function($)
            {

                // Realtime Network Stats
                var i = 0,
                    rns_values = [130,150],
                    rns2_values = [39,50],
                    realtime_network_stats = [];

                for(i=0; i<=100; i++)
                {
                    realtime_network_stats.push({ id: i, x1: between(rns_values[0], rns_values[1]), x2: between(rns2_values[0], rns2_values[1])});
                }




                function between(randNumMin, randNumMax)
                {
                    var randInt = Math.floor((Math.random() * ((randNumMax + 1) - randNumMin)) + randNumMin);

                    return randInt;
                }
            });
        </script>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="chart-item-bg">
                    <div class="panel-body">
                        <div style="margin-bottom: 15px">
                            <div class="h3 text-secondary text-bold">静态网页及Java Web项目列表<span style="margin-left: 5px" class="text-medium text-muted">Container List</span></div>
                        </div>
                        <script type="text/javascript">

                            jQuery(document).ready(function($)
                            {
                                var userId = getUserSession().userId;
                                var selected = [];
                                $("#example-2").dataTable({
//                                             "data": dataSet.data,//数据源
                                    "sDom": '<"top"f>t<"bottom"pi>',
                                    "bSort": false, //排序功能
                                    "pageLength":9,
//                                            searching: false,
                                    "ajax": {
                                        "url":"/pods/users/"+ userId,
                                        "dataType":"json",
                                        "method":"GET",
                                        "data":{
                                            podType: 1
                                        },
                                        "dataSrc":
                                            function(result){
                                                return result.extend;//自定义数据源，默认为data
                                            }
                                    },
                                    "columns": [
                                        {   "data":'podId',
                                            "title": "podId"
                                        },
                                        {
                                            "data":'name',
                                            "className":'nameInput',
                                            "title":"名称"
                                        },
                                        {
                                            "data":'image',
                                            "title":"镜像"
                                        },
                                        {
                                            "data":'ipPort',
                                            "title":"链接地址",
                                            render: function(data, type, row) { return '<a style="color:#6699cc;text-decoration: underline" href="http://'+data+'" target="_blank">' + data + '</a>'; }
                                        },
                                        {
                                            "title":"操作"
                                        }

                                    ],

                                    "aoColumnDefs":[
                                        {
                                            "targets": -1,
                                            "class": "but_xq",
                                            "data": null,
                                            "bSortable": false,
                                            "defaultContent": "<a onclick='turnPage(this)' class=\"btn btn-secondary btn-sm btn-icon icon-left\" style=\"margin: 2px\">提交文件</a><a id='checkContainer' onclick='checkContainer(this)' class=\"btn btn-danger btn-sm btn-icon icon-left\" style=\"margin: 2px\">查看容器状态</a><a id='reContainer' onclick='reContainer(this)' class=\"btn btn-info btn-sm btn-icon icon-left\" style=\"margin: 2px\">重启容器</a><a id='lookProgramme' onclick=\"lookProgramme(this)\"  class=\"btn btn-orange btn-sm btn-icon icon-left\" style=\"margin: 2px\">查看项目</a><button onclick='logs(this)'  data-toggle=\"modal\" data-target=\"#myModal\" class=\"btn btn-gary btn-sm btn-icon icon-left\" style=\"margin: 2px\">查看日志</button>"
                                        }
                                    ],
                                    language: {
                                        "sProcessing": "处理中...",
                                        "sLengthMenu": "显示 _MENU_ 项结果",
                                        "sZeroRecords": "没有匹配结果",
                                        "sInfo": " 共 _TOTAL_ 项",
                                        "sInfoEmpty": " 共 0 项",
                                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                                        "sInfoPostFix": "",
                                        "sSearch": "搜索:",
                                        "sUrl": "",
                                        "sEmptyTable": "表中数据为空",
                                        "sLoadingRecords": "载入中...",
                                        "sInfoThousands": ",",
                                        "oPaginate": {
                                            "sFirst": "首页",
                                            "sPrevious": "<",
                                            "sNext": ">",
                                            "sLast": "末页"
                                        },
                                        "oAria": {
                                            "sSortAscending": ": 以升序排列此列",
                                            "sSortDescending": ": 以降序排列此列"
                                        }
                                    }
                                });
                                $("#name").removeClass("nameInput");
                            });
                        </script>
                        <div class="table-responsive" style="border: none">
                            <table width="100%" class="table table-bordered table-striped" id="example-2">
                                <thead>
                                <tr>
                                    <th width="7%">podId</th>
                                    <th id="name" width="15%">名称</th>
                                    <th width="15%">镜像</th>
                                    <th width="22%">链接地址</th>
                                    <th width="41%">操作</th>
                                </tr>
                                </thead>
                                <tbody class="middle-align"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-loading-overlay">
    <div class="loader-2"></div>
</div>
<!-- Modal -->
<div class="modal fade" id="mylogs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">日志</h4>
            </div>
            <div class="modal-body" id="logs_modal-body">
                <div id="logs"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>



<!-- Bottom Scripts -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/TweenMax.min.js"></script>
<script src="/assets/js/resizeable.js"></script>
<script src="/assets/js/joinable.js"></script>
<script src="/assets/js/xenon-api.js"></script>
<script src="/assets/js/xenon-toggles.js"></script>


<!-- Imported scripts on this page -->
<script src="/assets/js/xenon-widgets.js"></script>
<script src="/assets/js/devexpress-web-14.1/js/globalize.min.js"></script>
<script src="/assets/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
<script src="/assets/js/toastr/toastr.min.js"></script>



<!-- Imported styles on this page -->
<link rel="stylesheet" href="/assets/js/datatables/dataTables.bootstrap.css">
<script src="/assets/js/datatables/js/jquery.dataTables.min.js"></script>

<!-- Imported scripts on this page -->
<script src="/assets/js/datatables/dataTables.bootstrap.js"></script>
<script src="/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
<script src="/assets/js/datatables/tabletools/dataTables.tableTools.min.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="/assets/js/xenon-custom.js"></script>
<script>
    var val;
    //修改表格Name
    $(document).on('click',".nameInput",function(e){
        var data = $(this).parent().children('td').eq(0).text();
        if (!$(this).is('.input')) {
            $(this).addClass('input').html('<input type="text" value="' + $(this).text() + '" />').find('input').focus().blur(function () {
                $(this).parent().removeClass('input').html($(this).val() || 0);
                val=$(this).val();
                $.ajax({
                    url: '/pods/' + data + '/name',
                    data: {
                        name: val
                    },
                    type: "PATCH",
                    async: false,
                    dataType: "json",
                    success: function (data) {

                    },
                    error: function () {

                    }
                });
            });
        }

    });

    function checkContainer(btn) {
        var data = btn.parentNode.parentNode.firstChild.textContent;
        //获取查看行的id
        $.ajax({
            url:'/pods/' + data + '/status',
            type: "GET",
            async:false,
            dataType:"json",
            success:function(data){
                if(data.code == 4){
                    layer.msg("容器状态："+data.extend)
                }else{
                    layer.msg(data.msg)
                }
            },
            error:function(data) {
                layer.msg(data.msg)
            }
        });
    }
    function reContainer(btn) {
        var data =btn.parentNode.parentNode.firstChild.textContent;
        //获取查看行的id
        layer.confirm('确认重启容器？', {
            skin: 'layui-layer-lan',
            btn: ['确认','取消'] //按钮
        }, function(){
            $.ajax({
                url:'/pods/restart/' + data,
                type:"PUT",
                async:false,
                dataType:"json",
                success:function(data){
                    if(data.code == 4){
                        layer.msg("重启成功")
                    }else{
                        layer.msg(data.msg)
                    }
                },
                error:function (data) {
                    layer.msg(data.msg)
                }
            });   }, function(){
            layer.msg('已取消')
        });
    }
    function lookProgramme(btn) {
        var data = btn.parentNode.parentNode.firstChild.textContent;
        window.location.href = '/projects?podId='+ data
    }
    function turnPage(btn) {
        var data = btn.parentNode.parentNode.firstChild.textContent;
        window.location.href = '/projects/tomcat_upload_file?podId=' + data
    }
    function logs(btn) {
        $('#mylogs').modal('show')
        var data = btn.parentNode.parentNode.firstChild.textContent;
        $.ajax({
            url:'/pods/' + data + '/log',
            type:"GET",
            async:false,
            dataType:"json",
            success:function(data){
                if(data.code == 4){
                        onMessage(data);
                }else{
                    layer.msg(data.msg)
                }
            },
            error:function (data) {
                layer.msg(data.msg)
            }
        });
    }
    function onMessage(e) {
        writeToScreen('<span style="color: blue;">RESPONSE: '+ e.extend+'</span>');
    }
    function writeToScreen(message) {
        var pre = document.createElement("p");
        var logs = document.getElementById("logs");
        pre.style.wordWrap = "break-word";
        pre.innerHTML = message;
        logs.appendChild(pre);
    }

    function getUserSession() {
        var value = "";
        $.ajax({
            url: "/users/session",
            method: 'GET',
            dataType: 'json',
            async: false,
            success: function (resp) {
                if (resp.code == 4) {
                    value = resp.extend;
                }
            }
        });
        return value;
    }
    $("#self").text(getUserSession().userName);
</script>
</body>
</html>